body {
    text-align: center;
    background-color: #fff;
    font-family: 'sand-serif', 'arial';
    font-weight: bold;
}

h1 {
    color: #360;
    font-weight: bold;
    font-size: 50px;
    margin: 135px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 50px;
    border-radius: 7px;
    background: #1F5A26;
    display: inline-block;
}

#clockdiv>div>span {
    padding: 65px;
    border-radius: 3px;
    background: #000;
    display: inline-block;
}

.smalltext {
    padding: 5px;
    font-size: 25px;
}